.t.t1(style="height: 80lvh")
  .splash
    .container
      .mastheadTextBlock
        h1.mastheadHeading David Kanekanian
        span.mastheadSubheading Creative Programmer
    .splashVignette
    .splashPortcullis
      .portcullis_m
      .portcullis_b
.t.t2(style="height: 250lvh")
  .something
.t.t3(style="height: 100lvh")
  .ext01
    .clouds
    .castleRoot
      .castle