@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

$primaryColor: #64b5f6;

// #region splash

.splash {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100lvh;
  background-image: url('data-url:./photo-1454165804606-c3d57bc86b40.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.splashVignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent 50%, black 150%), #173543;
}

.splashPortcullis {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.portcullis_m {
  height: 20lvh;
  background: url('data-url:./portcullis_m.png');
}
.portcullis_b {
  height: 10lvh;
  background: url('data-url:./portcullis_b.png');
}


.mastheadTextBlock {
  color: black;
  background-color: #ffffffce;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
}

.mastheadHeading {
  border-right: 3px solid $primaryColor;
  font-family: 'Anonymous Pro', monospace;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  animation: typewriter 1s steps(16) 0.2s 1 normal both,
    blinkCaret 1s step-end 1.5s infinite;

  font-size: 2.5rem;
  @media screen and (max-width: 380px) {
    font-size: 2rem;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: /* DEPENDS ON FINAL TEXT LENGTH! */ 8.7em;
  }
}

@keyframes blinkCaret {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: $primaryColor;
  }
}

.mastheadSubheading {
  margin: 0;
  font-size: 1.2rem;
}

// #endregion

// #region ext01

.ext01 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100lvh;
  background: #111;
}

.clouds {
  background-image: url('data-url:./clouds2.jpg');
  height: 70lvh;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}

.castleRoot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.castle {
  background: url('data-url:./castle.png') center / cover;
  height: 40lvh;
  aspect-ratio: 1/1;
}

// #endregion

// #region debug

// alternating colors for background tracks for debugging

.t {
  background: linear-gradient(#fff4 50%, #0003 50%) top / 100lvh 100lvh,
    linear-gradient(var(--col1) 50%, var(--col2) 50%) top / 20lvh 20lvh;
}

.t:nth-child(odd) {
  --col1: #e8abae;
  --col2: #f16363;
}

.t:nth-child(even) {
  --col1: #92f0cf;
  --col2: #78d685;
}

// debug opacity
:root {
  --debug-opacity: 100%;
}

.t > * {
  opacity: var(--debug-opacity);
}

// lilgui debug theme
.lil-gui > .children {
  background-color: black;
}

// #endregion
